<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bookstore admin</title>
  </head>
  <body>
    <div id="content">
      <form action="/admin/users">
        <button type="submit" id="btn-users">Users</button>
      </form>
      <form action="/admin/items">
        <button type="submit" id="btn-items">Items</button>
      </form>
      <form action="/admin/genres">
        <button type="submit" id="btn-genres">Genres</button>
      </form>
      <form action="/admin/orders">
        <button type="submit" id="btn-orders">Orders</button>
      </form>
      <form action="/admin/comments">
        <button type="submit" id="btn-comments">Comments</button>
      </form>
      <form action="/admin/ratings">
      <button type="submit" id="btn-ratings">Ratings</button>
      </form>
    </div>
    <script type="text/javascript" src="../js/admin.js"></script>
  </body>
</html>