doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/table.css')
    link(rel='stylesheet', href='/stylesheets/search.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    script(type='text/javascript' src="/js/jquery.min.js")
    
  body
    block content
  include ./navbar.jade
  div
    table(id='maint' style='width:50%')
      tr
        th(width="10%" style="text-align:center") №
        th(width="90%" style="text-align:center") Categories
      each item in data.cat
          tr
            td(style="text-align:center") #{item.number}
            td 
                a(href="/category/#{item.id}") #{item.name}

script.
    //make link with black bg
    $('#nav-home').addClass('page');