doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/form.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    script(type='text/javascript' src="/js/jquery.min.js")
  body
    block content
      include ./navbar.jade
      div
        form.form(method='post')
          label Email :
          input#name(type='text', name='email')
          label Password :
          input#password(type='password', name='password')
          input#login(type='submit', name='loginiBtn', value='Log In')

script.
  //make link with black bg
  $('#nav-login').addClass('page');