doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/form.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
  body
    block content
      include ./navbar.jade
      div
        form.form(method='post')
          label Name :
          input#name(type='text', name='dname')
          label Password :
          input#password(type='password', name='password')
          input#login(type='submit', name='loginiBtn', value='Log In')