
if !data.isLoggedIn
  ul
        li
           a(href='/') Home
        li
           a(href='/login') Log in
        li
           a(href='/registration') Register
else  
  ul
        li
           a(href='/') Home
        li
           a(href='/logout') Log out