
if !data.isLoggedIn
  ul
        li
           a(href='/') Home
        li
           a(href='/login') Log in
        li
           a(href='/register') Register
else
  if data.isAdmin
    ul
          li
            a(href='/') Home
          li
            a(href='/add') Add Product
          li
            a(href='/check') Purchases
          li
            a(href='/cart') Shopping Cart
          li
            a(href='/logout') Log out
  else
    ul
            li
              a(href='/') Home
            li
              a(href='/cart') Shopping Cart
            li
              a(href='/logout') Log out