.navbar
  .navbar-inner
    .container
      a.btn.btn-navbar(data-target='.nav-collapse', data-toggle='collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .nav-collapse
      if !data.isLoggedIn
        ul.nav
          li
            a(href='/' id='nav-home') Home	
          li
           a(href='/login' id='nav-login') Log in
          li
           a(href='/register' id='nav-register') Register
        ul.nav.pull-right
          form.navbar-search.pull-left(action='/' method='post')
            input.search-query.span2(type='text', placeholder='Search' name='name')
      else if data.isLoggedIn && !data.isAdmin
        ul.nav
          li
            a(href='/' id='nav-home') Home
          if session.itemCount > 0 
            li
              a(href='/cart' id='nav-sc') Shopping Cart (#{session.itemCount})
          else
            li
              a(href='/cart' id='nav-sc') Shopping Cart (0)  
          li
            a(href='/orders' id='nav-orders') My Orders
          li
            a(href='/profile' id='nav-prof') Edit Profile
          li
            a(href='/logout') Log out
          li
            a(id='nav-greet') Hello, #{session.username} 
        ul.nav.pull-right
          form.navbar-search.pull-left(action='/' method='post')
            input.search-query.span2(type='text', placeholder='Search' name='name')
