if !data.isLoggedIn
  ul(id="navbar")
        li
           a(href='/' id='nav-home') Home
        li
           a(href='/login' id='nav-login') Log in
        li
           a(href='/register' id='nav-register') Register
        li(class="search-container")
          form(method='post' action="/")
            input(type='textbox', placeholder='Search product by name', name='name')
            input(type='submit', value='Search')
        
else
  if data.isAdmin
    ul#navbar
          li
            a(href='/' id='nav-home') Home
          li
            a(href='/add' id='nav-addpr') Add Product
          li
            a(href='/check' id='nav-pur') Purchases
          li
            a(href='/accs' id='nav-us') Users
          li
            a(href='/logout') Log out
  else
    ul#navbar
            li
              a(href='/' id='nav-home') Home
            li
              a(href='/cart' id='nav-sc') Shopping Cart
            li
              a(href='/orders' id='nav-orders') My Orders
            li
              a(href='/profile' id='nav-prof') Edit Profile
            li
              a(href='/logout') Log out
            li(class="search-container")
              form(method='post' action="/")
                input(type='textbox', placeholder='Search product by name', name='name')
                input(type='submit', value='Search')