doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/form.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(type='text/javascript' src='https://www.google.com/recaptcha/api.js')

  body
    block content
      include ./navbar.jade
      div
        form.form(method='post')
          label Name :
          input#name(type='text', name='dname')
          label Email :
          input#email(type='text', name='demail')
          label Password :
          input#password(type='password', name='password')
          label Confirm Password :
          input#cpassword(type='password', name='cpassword')
          div(class="g-recaptcha" data-sitekey="6LdF9FQUAAAAAO7KK6yzeKXmWB9vfvJUPhSg4YoT")
          input#register(type='submit', name='regBtn', value='Register')

script.
  //make link with black bg
  $('#nav-register').addClass('page');