        #sidebar.span3
          .well.well-small
            ul.nav.nav-list
              each cat in data.cats
                li
                  a(href="/category/#{cat.id}/1/*")
                    span.icon-chevron-right #{cat.name}
