<html>
  <head>
    <title>Ekatte search</title>
  </head>
  <body>
    <div>
      <form action="/search">
        Search:<br>
        <input name="settlement" type="text"><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>