<html>
  <head>
    <title>Results</title>
  </head>
  <body>
    <div>
      <div>
        <a href="/">Go back</a>
      </div>
      <div>
        <% if (resultLinks.length > 0) { %>
          <% resultLinks.forEach(function (result) { %>
            <a href="<%= result.link %>"><%= result.name %></a><br>
          <% });%>
        <% } else { %>
          <p>No results</p>
        <% }%>
      </div>
    </div>
  </body>
</html>