<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./bootstrap.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="dalipeche.js"></script>
  </head>
   <body>
    <ul class="list-group-item col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <form class="inline">
        {{> adminForm }}
      </form>
    </ul>
<!--     <button id="test-btn">TEST TRANSACTIONS</button>
    <div id="c1"></div>
    <div id="c2"></div> -->
  </body>
</html>

<!-- <script type="text/javascript">
	document.getElementById('test-btn').addEventListener('click', async (event) => {
		$('#c1').getForecast({city: 'Sofia', APIKey: 'A8i1Zxozem5midRz'});
		$('#c2').getForecast({city: 'Sofia', APIKey: 'A8i1Zxozem5midRz'});
	});
</script> -->