<ul id="menu" class="list-group-item col-lg-3 col-md-3 col-sm-3 col-xs-3">
  <div id="side-bar" onselectstart="return false">
    <input type="checkbox" id="reports-menu-checkbox">
    <label id="reports-dd" for="reports-menu-checkbox" class="dropdown">
      <label>Reports</label>
      <label id="reports-arrow" class="dd-arrow pull-right"></label>
      <div>
        <a href="/admin/users"><span>Users</span></a>
        <a href="/admin/ctransfers"><span>Credit Transfers</span></a>
        <a href="/admin/cities"><span>Cities</span></a>
        <a href="/admin/requests"><span>Requests</span></a>
        <a href="/admin/credits"><span>Credit Balance</span></a>
      </div>
    </label>
    <input type="checkbox" id="action-menu-checkbox">
    <label id="actions-dd" for="action-menu-checkbox" class="dropdown">
      <label>Actions</label>
      <label id="actions-arrow" class="dd-arrow pull-right"></label>
      <div>
        <a href="/admin/roles"><span>Change Roles</span></a>
        <a href="/admin/backoffice-users"><span>Assign Roles to Users</span></a>
        <a href="/admin/approve"><span>Approve Transfers</span></a>
        <a href="/admin/create-user"><span>Create User</span></a>
      </div>
    </label>
  </div>
</ul>
<!-- <select id="report-select" class="form-control" onchange="location.href = this.value">
  <option value="/admin" selected="true">Options</option>
  <option id="select-users" value="/admin/users">Users</option>
  <option id="select-ctransfers" value="/admin/ctransfers">Credit Transfers</option>
  <option id="select-cities" value="/admin/cities">Cities</option>
  <option id="select-requests" value="/admin/requests">Requests</option>
  <option id="select-cbalance" value="/admin/credits">Credit Balance</option>
  <option id="select-approve" value="/admin/approve">Approve Transfers</option>
  <option id="select-roles" value="/admin/roles">Roles</option>
  <option id="select-backoffice-users" value="/admin/backoffice-users">Backoffice Users</option>
  <option id="select-create-user" value="/admin/create-user">Create User</option>
  <option id="select-logout" value="/admin/logout">Logout</option>
</select>
 -->