<div id="blank"></div>
<div id="navbar" class="col-lg-12">
  <p id="logo" onselectstart="return false" select="return false" class="col-lg-5">dalipeche.org <img src="https://image.flaticon.com/icons/png/512/63/63366.png" class="navbar-img">?</p>
  <p id="navbar-msg" class="text-success text-center col-lg-3"></p>
  <a href="/admin/logout" id="logout-btn" class="pull-right"><img src="./../door.png" class="navbar-img"></a>
  <p class="pull-right" id="login-info">Logged in as user: {{admin}}</p>
</div>