<select id="report-select" class="form-control" onchange="location.href = this.value">
  <option value="/admin" selected="true">Select Report</option>
  <option id="select-users" value="/admin/users">Users</option>
  <option id="select-ctransfers" value="/admin/ctransfers">Credit Transfers</option>
  <option id="select-cities" value="/admin/cities">Cities</option>
  <option id="select-requests" value="/admin/requests">Requests</option>
  <option id="select-cbalance" value="/admin/credits">Credit Balance</option>
  <option id="select-approve" value="/admin/approve">Approve Transfers</option>
  <option id="select-roles" value="/admin/roles">Roles</option>
  <option id="select-backoffice-users" value="/admin/backoffice-users">Backoffice Users</option>
</select>
