<div id="blank"></div>
<div id="navbar">
  <p id="logo" onselectstart="return false" select="return false">dalipeche.org <img src="https://image.flaticon.com/icons/png/512/63/63366.png" class="navbar-img">?</p>
  <a href="/admin/logout" id="logout-btn" class="pull-right"><img src="./../door.png" class="navbar-img"></a>
  <p class="pull-right" id="login-info">Logged in as: {{admin}} ({{roles}})</p>
</div>