<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./bootstrap.css">
    <script src="https://js.braintreegateway.com/web/dropin/1.10.0/js/dropin.js"></script>
  </head>
   <body>
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Buy Credits</h2>
    <ul class="list-group-item col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div id="dropin-container"></div>
      <button id="submit-button" class="button button--small button--green">Purchase</button>
      <!-- <form method="post">
        <input type="number" name="credits" id='credit-box' placeholder="Enter credits" class="form-control">
        <br>
        {{#if credits}}
          <p id="success-msg" class="text-success">Successfuly added {{credits}} credits</p>
        {{/if}}
        {{#if error}}
          <p class="text-danger">{{error}}</p>
        {{/if}}
        <input type="submit" id="buy-btn" value="Buy" class='btn btn-default pull-right'>
        <a href="home" class='pull-left'>Back</a>
      </form> -->
    </ul>
  </body>
</html>

<script type="text/javascript">
  let button = document.getElementById('submit-button');

  braintree.dropin.create({
    authorization: '{{clientToken}}',
    selector: '#dropin-container'
  }, (err, instance) => {
    button.addEventListener('click', function () {
      instance.requestPaymentMethod((err, payload) => {
        fetch('/buy', {
          method: "POST",
          headers: {
            "Content-Type": "application/json; charset=utf-8"
          },
          body: JSON.stringify({nonce: payload.nonce})
        });
      });
    });
  });
</script>