@media screen and (min-width: 400px) {
    .fixed-form-height {
        height: 50px;
    }

    #bootstrap-overrides .form-group * {
        height: 100%;
    }
}


.centered-row {
    display: flex;
    align-items: center;
}
