<html>
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
      <a href="/file"> Go to file </a>
      </br>
      <input id='first' type='text'> +
      <input id='second' type='text'> =
      <input id='result' type="text" disabled>
      <button id="submitBtn"> Submit
    </body>

    <script>
      $('#submitBtn').click(function(){
        $('#result').val(Number($('#first').val()) + Number($('#second').val()));
      });
    </script>
</html>
